---
name: urdfdom ROS 2 CI

on:
  push:
  pull_request:

jobs:

  build_ros2:
    name: ROS 2 CI
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: ros-tooling/setup-ros@v0.7
        with:
          use-ros2-testing: true
      - uses: ros-tooling/action-ros-ci@v0.4
        with:
          package-name: urdfdom
          target-ros2-distro: rolling
